body{ 
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
    background-color: darkslateblue;
}

.section-main{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.input_search{
    width: 100%;
}
