html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #091825;
}


.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 0;
    padding: 50px;
    border-radius: 10px;

}
.wrap h1{
  margin: 0;
}

#poke-logo{
  transform: translate(50%,50%);
}
.control{
  display: flex;
  flex-direction: column;
}
.control label{
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: small;
}
.main-section{
    margin: 3rem;
    padding: 2rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}


.search {
    width: 120%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 200px;
    border: none;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    outline: none;
    color: #808080;
    background-color: #E8E8E8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 10px;
 
  }
  
  .searchTerm:focus{
    color: black;
  }
  
  .selectButton {
    width: 200px;
    border: none;
    padding: 5px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    color: black;
    background-color: #E8E8E8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }


  .card{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    padding: 50px;
    border-radius: 10px;
  }
  .card-header{
    position: relative;
    background-size: cover;
    background-position: top;
  }

  .card-body{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
  }

  .card-footer{
    text-align:center;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .name{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
  }
  
  .type-title{
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    color: #919191;
  }

  .first-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0px;
  }
  
  .first-column h1{
    margin-bottom: 0px;
  }
  .sprites{
    margin-top: 0px;
    display: flex;
    transform: translateX(-2rem);
  }
  #second-sprite{
    transform: translateX(-2rem);
  }
  .second-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0px;
  }
  .second-column h1{
    margin-bottom: 0px;
  }

  .column-content{
    display: flex;
    font-weight: lighter;
    justify-content: flex-start;
    text-align: left;
    
  }
  
  #lists{
    transform: translateX(-0.75rem);
  }

  .column-content li{
    list-style-type: circle;
  }



  

